<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Theme Park start</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="img/style.css" />
</head>
<body class="">

    <h1 class="text-light text-center mt-5 pt-5 error">Oops...</h1>
    <h2 class="text-center font-weight-bold mt-4 error-message" th:text="${errormessage}"></h2>
    <div class="text-center mt-5"><a href="/" class="btn btn-dark mt-5">return to homepage</a></div>


<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>